/* Color Palette? */

/* #866e5f */

/* #5c7474 */

/* #6d544d */

/* #d8cac9 */

/* Classy Palette  */

/* #D8CAC9 */

/* #574240 */

/* #D19F9C */

/* #CBD0B5 */

/* #959980 */

* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-weight: 900; */
}

/* .btn-primary {
    background-color: black;
    border-color: black;
} */
/* 
.clearfix {
    clear: both;
} */

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

/* info */
#tablet-indicator {
    display: none;
}

#mobile-indicator {
    display: none;
}

header {
    /* width: 100%;
    text-align: center;
    overflow: hidden;
    background: linear-gradient(to right, #6d544d, #5c7474);
    position: fixed;
    top: 0;
    z-index: 1; */
}

.logo {
    /* float: left; */
    /* width: 100%; */
    /* margin: 10px auto; */

    /* border: 3px solid black; */
    /* margin: 0; */
    /* padding: 0; */
    /* font-weight: bold; */
}

.logo h1 {
    /* margin: 10px auto; */
    /* margin: 10px; */
    margin: 0 !important;
    margin-left: 10px !important;
    font-weight: bold;
    /* border: 3px solid red; */
}

.logo h1 a {
    color: black;
    /* text-decoration: none; */
}

nav {
    /* width: 100%; */
    text-align: center;
    overflow: hidden;
    background: linear-gradient(to right, #6d544d, #5c7474);
    /* position: fixed; */
    /* top: 0; */
    /* border: 3px solid red; */
    /* z-index: 1; */
    /* border-bottom: 2px solid black; */
}

nav ul {
    width: 35%;
    /* margin-bottom: 0; */
    /* float: right; */
    /* list-style-type: none; */
    /* border: 3px solid black; */
}

nav ul li {
    margin: auto;
    margin-bottom: 0 !important;
    /* display: inline-block; */
    /* border: 3px solid blue; */
}

.nav-link {
    display: block;
    padding: 5px 30px;
    text-decoration: none;
    color: black !important;
    /* font-size: 30px; */
    font-weight: bold;
    border-left: 2px solid rgba(0, 0, 0, 0);
    border-right: 2px solid rgba(0, 0, 0, 0);
    /* border: 2px solid red; */
    transition: 0.4s;
}

.nav-link:hover {
    border-color: black;
    border-radius: 0;
    /* color: #d8cac9; */
    /* transition: 0.5s; */
}

.active {
    /* border: 2px solid black; */
    /* border-left: 2px solid black; */
    /* border-right: 2px solid black; */
    border-color: black;
    /* font-size: 31px; */
    border-radius: 10%;
    
}

.active:hover {
    border-radius: 10%;
}

nav ul li a {
    /* display: block;
    padding: 5px 30px;
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: bold;
    transition: 0.5s; */
    /* border: 3px solid red; */
}

nav ul li a:hover {
    /* color: #d8cac9;
    transition: 0.5s; */
}

/* nav ul li a::after {
    transition: 0.5s;
} */

/* nav ul li a:active {
    color: #d8cac9;
} */

.banner {
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.banner img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

.banner-text {
    color: black;
    padding: 275px;
    /* padding: 15%; */
    margin: auto;
}

.banner-text h1 {
    font-size: 75px;
    text-decoration: underline;
    margin-bottom: 0px;
    padding-bottom: 0px;
    /* border: 2px solid black; */
    /* border-bottom: 3px solid black; */
}

.banner-text hr {
    background-color: black !important;
    height: 5px;
    /* width: 5vw; */
    opacity: 1;
    padding: 0;
    margin: 0;
    margin-top: 5px;
}

.banner-text p {
    display: none;
    font-size: 40px;
    /* text-decoration: overline; */
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
    position: absolute;
    height: auto;
    width: auto;

    border-bottom: 3px solid black;
}

.dev-texts {
    /* position: static; */
    /* position: fixed; */
    /* height: fit-content; */
    /* width: fit-content; */
    /* border: 2px solid blue; */
}

.banner-text-blog {
    color: rgba(0, 0, 0, 0.9);
    padding: 15%;
    margin: auto;
    text-align: center;
    font-size: 50px;
    text-shadow: #6d544d 5px 5px 5px;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 20px;
}

/* main {
    width: 100%;
    margin: auto;
} */

.box1 {
    height: 50vh;
    width: 100%;
    background-image: url(../images/black-styled-office-from-above-picjumbo-com.jpg);
    background-position: center;
    background-attachment: fixed;
    display: table;
}

.box2 {
    height: 50vh;
    width: 100%;
    background-image: url(../images/Krivan-Peak-Reduced.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: table;
}

.inverted-banner-wrapper {
    position: relative;
    
}

.inverted-banner-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9));
}

.inverted-banner-wrapper img {
    width: 100%;
    height: 100%;
    position: static;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

.inverted-banner {
    width: 100%;
    /* height: 60vh; */
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(../images/Krivan-Peak-Increased-Inverted.png);
    background-repeat: no-repeat;
    background-size: 100%;
    /* position: absolute; */
    overflow: hidden;
    z-index: -1;
}

.inverted-banner::after {
    /* background-image: none; */
    /* background-color: rgba(7, 11, 13, 255); */
}

#section2 {
    /* background-color: red; */
    /* width: 100vw; */
    margin: 20px;
    margin-top: 400px;
    padding: 20px;
    /* padding: 25px; */
    /* background-color: #574240; */
    text-align: center;
    color: black;
    /* color: #F4686A; */
    /* color: rgba(50, 60, 50, 0.9) !important; */
    /* text-shadow: #6d544d 1px 1px 2px; */
    /* border-top: 3px solid #959980; */
    /* background: linear-gradient(to right, #6d544d, #5c7474); */

    /* background-color: #CBD0B5; */
    /* border: 3px solid black; */
    box-shadow: 0 10px 60px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    position: relative;
    /* float: left; */
    /* background-color: #CBD0B5; */
    /* display: ; */
    /* background-size: cover; */
    /* background-image: url(media\Seneca_at_night_-_Late_night_city_vibes.gif); */
    /* background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)); */
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.arrow-button {
    /* border-top: 3px solid black; */
    /* border-bottom: 3px solid black; */
    /* border: 3px solid black; */
    /* aspect-ratio: 1/1; */
    /* width: 100px; */
    cursor: pointer;
    padding: 20px;
    margin: auto;
}

.arrow-button:hover .arrow {
    /* border-color: white; */
    /* border-color: #574240; */
    /* border-color:#6d544d; */
    /* border-color: #5c7474; */
    /* border-color: rgba(0, 0, 0, 0.5); */
    /* border-width: 0 5px 5px 0; */
    /* border-radius: 0 10px 0 10px; */
}

.arrow {
    border: 3px solid black;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 10px;
    transition: 0.4s;
    /* opacity: 0; */
    overflow: hidden;
}

.svg-arrow {
    /* border: 3px solid black; */
    display: inline-block;
    padding: 10px;
    overflow: hidden;
}

.svg-arrow::before {
    content: '';
    position: absolute;
    top: 0px;
    left: -50px;
    width: 150%;
    height: 150%;
    background: rgba(255, 255, 255, 0.3);
    /* border: 3px solid rgba(255, 255, 255, 0.3); */
    transform: skewX(-30deg);
    transition: 1s;
    /* z-index: 5; */
}

.arrow-button:hover .svg-arrow::before {
    left: 50px;
    /* background: rgba(255, 255, 255, 0.2); */
}

.right {
    transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
}

.title-bar {
    /* box-shadow: 0 10px 60px rgba(0, 0, 0, 0.5); */
    /* border-radius: 5px; */
    padding: 20px;
    /* background-color: #574240; */
    /* box-shadow: 0 10px 60px rgba(0, 0, 0, 0.5); */
    margin: 0 auto;
    /* margin-top: 20px; */
    /* margin: auto; */
    /* border: 3px solid black; */
    /* border-top: 3px linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)); */
    /* border-bottom: 3px solid linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)); */
    border-top: 3px solid black;
    /* border-bottom: 3px solid black; */
    /* border-left: 3px solid black; */
    /* border-right: 3px solid black; */
    /* border: 2px solid #959980; */
    backdrop-filter: blur(1px);
    /* border-radius: 10px; */
    /* width: 75%; */
    /* text-align: center; */
    /* color: black; */
    /* border-top: 3px solid #959980; */
    /* border-bottom: 3px outset #959980; */
    transition: 0.4s;
    /* -webkit-transition: transition none; */


    > h1 {
        /* color: rgba(50, 60, 50, 0.9); */
        /* padding: 325px; */
        margin: auto;
        /* width: 100%; */
        text-align: center;
        font-size: 50px;
        font-weight: bold;
        /* text-decoration: underline; */
        /* text-shadow: #6d544d 1px 1px 2px; */
    }

}

#title-bar0 {
    /* border-radius: 10px; */
}

.title-bar:hover {
    border-radius: 10px;
    text-decoration: underline;
    cursor: pointer;
    /* background-color: #574240; */
    /* background-color: rgba(87, 66, 64, 0.5); */
    /* border: 2px solid #574240; */
    /* border-radius: 10px; */
    /* text-decoration: underline; */
    /* transition: 0.4s; */
}

.notransition {
    transition: none;
    /* border-radius: 0px; */
}

.about-border {
    /* border: 3px solid black; */
    /* box-shadow: 0 10px 60px rgba(0, 0, 0, 0.5); */
    border-radius: 10px;
    padding: 20px;
    /* padding-left: 3vw; */
    /* padding-right: 3vw; */
    margin-right: 13vw;
    margin-left: 13vw;
    border-bottom: 3px solid black;
}


.about {
    /* background-image: url("../images/Custom-rulled-paper.PNG"); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/Custom-rulled-paper.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid black;
    /* border: 5px solid red; */
    /* width: 75%; */
    /* display: block; */
    /* width: fit-content; */
    /* margin-right: 20vw; */
    margin-right: 8vw;
    /* margin-left: 15vw; */
    padding: 20px;
    /* background-color: #74615e; */
    /* background-color: #CBD0B5; */
    /* background-color: #574240; */
    /* background: linear-gradient(to right, #6d544d, #5c7474); */
    /* position: relative; */
    /* float: left; */
    /* position: absolute; */
    border-radius: 5px;
    /* box-shadow: 0 10px 60px rgba(0, 0, 0, 0.5); */
    /* box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.9); */
    
    /* width: 75%; */
    
}


.text-field {
    padding: 20px;
    /* border: 3px solid black; */
    /* margin: auto 5vw auto 10vw; */
    /* background-color: #574240; */
    /* background: linear-gradient(to right, #6d544d, #5c7474); */
    /* margin: 40px auto; */
    /* box-shadow: 0 10px 60px rgba(0, 0, 0, 0.5); */
    border-radius: 10px;
    position: relative;
    /* position: absolute; */
    /* right: 50px; */
    width: 70%;
    margin-left: 10px;
    /* text-align: center; */
    /* color: black; */
    /* border-top: 3px solid #959980; */
    /* width: 50%; */
    float: left;
    /* width: 75%; */
}

.text-field h1 {
    font-weight: bold;
    text-decoration: underline;
}

.image-field {
    /* border-top: 3px solid black; */
    /* border-bottom: 3px solid black; */
    /* border: 3px solid black; */
    /* background-image: url("images\20160229_120556.jpg"); */
    width: fit-content;
    /* margin-top: auto; */
    /* height: auto; */
    /* height: 30%; */
    /* display: inline-block; */
    /* margin: 40px auto; */
    /* box-shadow: 0 10px 60px rgba(0, 0, 0, 0.5); */
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.9);
    border-radius: 5px;
    /* top: 50vh; */
    /* position: relative; */
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(0, -38.5%);
    padding: 0;
    /* margin: auto 10vw auto 5vw; */
    float: right;
    /* width: 25%; */
    /* z-index: 2; */
}

.image-field img {
    /* position: relative; */
    /* right: 50px; */
    border: 3px solid black;
    border-radius: 5px;
    /* box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.9); */
    width: 23vw;
}

#section3 {
    /* background-color: rgba(7, 11, 13, 255); */
}

footer {
    /* margin-top: 50vh; */
    padding: 20px;
    background-color: #574240;
    text-align: center;
    color: black;
    border-top: 3px solid #959980;
}

.social a {
    margin: 0 5px;
}

.social a img {
    width: 30px;
    display: inline-block;
}

.donthave a:hover {
    cursor: not-allowed;
}

.attribute {
    margin-top: 5px;
    margin-bottom: 15px;
}

.attribute a {
    text-decoration: none;
    color: black;
}

.icon {
    color: black;
    position: absolute;
    font-size: 20px;
    top: 10px;
    right: 15px;
    cursor: pointer;
    display: none;
}

@media(max-width:1425px) {
    /* info */
    #tablet-indicator {
        display: block;
    }

    /* header */
    .logo {
        float: none;
        width: auto;
    }

    nav ul {
        /* float: none; */
        /* width: auto; */
    }

    /* banner */
    .banner {
        height: 75vh;
    }

    .banner img {
        height: 76vh;
    }

    .banner-text {
        padding: 150px 100px;
    }

    .banner-text h1 {
        font-size: 70px;
        padding-bottom: 0px;
        text-align: center;
    }

    .center {
        width: 50%;
        margin: auto;
        text-align: center;
    }

    .banner-text hr {
        background-color: black !important;
        height: 5px;
        /* width: 50%; */
        opacity: 1;
        padding: 0;
        margin: 0;
        margin-top: 10px;
        /* margin-left: auto; */
        /* margin-right: auto; */
    }
    
    .banner-text p {
        display: none;
        /* width: 50%; */
        font-size: 40px;
        /* text-decoration: overline; */
        margin: 0;
        padding: 0;
        padding-bottom: 5px;
        position: static;
        height: auto;
        width: auto;
        border-bottom: 3px solid black;
    }

    /* main */
    .inverted-banner {
        /* width: 100%;
        height: 50%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(../images/Krivan-Peak-Reduced-Inverted.jpg);
        position: absolute;
        overflow: hidden;
        z-index: -1; */
    }

    /* footer */
    footer {
        margin-top: 50vh;
        padding: 20px;
        background-color: #574240;
        text-align: center;
        color: black;
        border-top: 3px solid #959980;
    }
}

@media(max-width:750px) {
    /* info */
    #mobile-indicator {
        display: block;
    }

    /* header */
    .logo {
        float: none;
    }
    
    .logo h1 {
        margin: 10px;
        font-size: 20px;
    }

    nav ul {
        /* float: none;
        width: 80%;
        margin: 0 auto;
        padding: 0;
        max-height: 0;
        transition: 0.5s; */
    }
    
    nav ul.show {
        /* max-height: 250px; */
    }

    .icon {
        /* display: block; */
    }

    nav ul li {
        /* display: block; */
    }
    
    nav ul li a {
        /* font-size: 20px;
        padding: 7px; */
    }

    /* banner */
    .banner {
        height: 50vh;
    }
    
    .banner img {
        height: 50%;
    }
    
    .banner-text {
        padding: 50px 10px;
    }

    .banner-text h1 {
        font-size: 30px;
    }
    
    .banner-text p {
        font-size: 20px;
    }

    /* main */
    
    /* footer */
    footer {
        font-size: 10px;
    }

    .social a img {
        width: 20px;
    }
}
