/* Color Palette? */

/* #866e5f */

/* #5c7474 */

/* #6d544d */

/* #d8cac9 */

/* Classy Palette  */

/* #D8CAC9 */

/* #574240 */

/* #D19F9C */

/* #CBD0B5 */

/* #959980 */

* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-weight: 900; */
}

/* .btn-primary {
    background-color: black;
    border-color: black;
} */

.clearfix {
    clear: both;
}

/* info */
#tablet-indicator {
    display: none;
}

#mobile-indicator {
    display: none;
}

header {
    width: 100%;
    text-align: center;
    overflow: hidden;
    background: linear-gradient(to right, #6d544d, #5c7474);
    position: fixed;
    top: 0;
    z-index: 1;
}

.logo {
    float: left;
    width: 25%;
}

.logo h1 {
    margin: 10px auto;
}

.logo h1 a {
    color: black;
    text-decoration: none;
}

nav ul {
    width: 50%;
    float: right;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 5px 30px;
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: bold;
}

nav ul li a:hover {
    color: #d8cac9;
    transition: 0.5s;
}

.banner {
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.banner img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

.banner-text {
    color: black;
    padding: 275px;
    /* padding: 15%; */
    margin: auto;
}

.banner-text h1 {
    font-size: 70px;
    /* text-decoration: underline; */
    margin-bottom: 0px;
    padding-bottom: 0px;
    /* border: 2px solid black; */
}

.banner-text hr {
    background-color: black !important;
    height: 5px;
    /* width: 5vw; */
    opacity: 1;
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

.banner-text p {
    display: none;
    font-size: 40px;
    /* text-decoration: overline; */
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
    position: absolute;
    height: auto;
    width: auto;
    white-space: nowrap;

    border-bottom: 3px solid black;
}

.dev-texts {
    /* position: static; */
    /* position: fixed; */
    /* height: fit-content; */
    /* width: fit-content; */
    /* border: 2px solid blue; */
}

.banner-text-blog {
    color: rgba(0, 0, 0, 0.9);
    padding: 15%;
    margin: auto;
    text-align: center;
    font-size: 50px;
    text-shadow: #6d544d 5px 5px 5px;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 20px;
}

/* main {
    width: 100%;
    margin: auto;
} */

.box1 {
    height: 50vh;
    width: 100%;
    background-image: url(../images/black-styled-office-from-above-picjumbo-com.jpg);
    background-position: center;
    background-attachment: fixed;
    display: table;
}

.box2 {
    height: 50vh;
    width: 100%;
    background-image: url(../images/Krivan-Peak-Reduced.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: table;
}

.inverted-banner-wrapper {
    position: relative;
    
}

.inverted-banner-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5));
}

.inverted-banner-wrapper img {
    width: 100%;
    height: 100%;
    position: static;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

.inverted-banner {
    width: 100%;
    height: 60vh;
    background-size: cover;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(../images/Krivan-Peak-Reduced-Inverted.jpg); */
    background-repeat: no-repeat;
    position: absolute;
    overflow: hidden;
    z-index: -1;
}

#section2 {
    background-color: red;
}

footer {
    margin-top: 50vh;
    padding: 20px;
    background-color: #574240;
    text-align: center;
    color: black;
    border-top: 3px solid #959980;
}

.social a {
    margin: 0 5px;
}

.social a img {
    width: 30px;
    display: inline-block;
}

.donthave a:hover {
    cursor: not-allowed;
}

.attribute {
    margin-top: 5px;
    margin-bottom: 15px;
}

.attribute a {
    text-decoration: none;
    color: black;
}

.icon {
    color: black;
    position: absolute;
    font-size: 20px;
    top: 10px;
    right: 15px;
    cursor: pointer;
    display: none;
}

@media(max-width:1425px) {
    /* info */
    #tablet-indicator {
        display: block;
    }

    /* header */
    .logo {
        float: none;
        width: auto;
    }

    nav ul {
        float: none;
        width: auto;
    }

    /* banner */
    .banner {
        height: 75vh;
    }

    .banner img {
        height: 76vh;
    }

    .banner-text {
        padding: 150px 100px;
    }

    .banner-text h1 {
        font-size: 70px;
        padding-bottom: 0px;
        text-align: center;
    }

    .center {
        width: 50%;
        margin: auto;
        text-align: center;
    }

    .banner-text hr {
        background-color: black !important;
        height: 5px;
        /* width: 50%; */
        opacity: 1;
        padding: 0;
        margin: 0;
        margin-top: 10px;
    }
    
    .banner-text p {
        display: none;
        /* width: 50%; */
        font-size: 40px;
        /* text-decoration: overline; */
        margin: 0;
        padding: 0;
        padding-bottom: 5px;
        position: static;
        height: auto;
        width: auto;
        white-space: nowrap;
        border-bottom: 3px solid black;
    }

    /* main */
    .inverted-banner {
        width: 100%;
        height: 50%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(../images/Krivan-Peak-Reduced-Inverted.jpg);
        position: absolute;
        overflow: hidden;
        z-index: -1;
    }

    /* footer */
    footer {
        margin-top: 50vh;
        padding: 20px;
        background-color: #574240;
        text-align: center;
        color: black;
        border-top: 3px solid #959980;
    }
}

@media(max-width:750px) {
    /* info */
    #mobile-indicator {
        display: block;
    }

    /* header */
    .logo {
        float: none;
    }
    
    .logo h1 {
        margin: 10px;
        font-size: 20px;
    }

    nav ul {
        float: none;
        width: 80%;
        margin: 0 auto;
        padding: 0;
        max-height: 0;
        transition: 0.5s;
    }
    
    nav ul.show {
        max-height: 250px;
    }

    .icon {
        display: block;
    }

    nav ul li {
        display: block;
    }
    
    nav ul li a {
        font-size: 20px;
        padding: 7px;
    }

    /* banner */
    .banner {
        height: 50vh;
    }
    
    .banner img {
        height: 50%;
    }
    
    .banner-text {
        padding: 50px 10px;
    }

    .banner-text h1 {
        font-size: 30px;
    }
    
    .banner-text p {
        font-size: 20px;
    }

    /* main */
    
    /* footer */
    footer {
        font-size: 10px;
    }

    .social a img {
        width: 20px;
    }
}
