:root {
    --animStartHeight: 0px;
    --animMidHeight: 0px;
    --animEndHeight: 0px;
    --animStartRotation: 0deg;
    --animEndRotation: 0deg;
}

.test-container {
    border: 3px solid black;
    padding: 20px;
    position: relative;
    /* overflow: hidden; */
    width: 25%;
    margin: auto;
    /* height: 100%; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-content: center; */
}

.off-test {
    border: 3px solid red;
    position: relative;
    padding: 20px;
    float: left;
    width: 50%;
    /* left: 20%; */
    /* margin: auto; */
    /* display: flex; */
    /* justify-content: center; */
    /* width: 100%; */
}

.to-move {
    position: relative;
    left: 100%;
    margin-right: -100%;
    /* top: 100%; */
    /* padding: 0; */
    /* float: left; */
    /* margin-bottom: -50%; */
}


/* Testing for the Slider */

@keyframes anim-arrow {
    0% {transform: translate(0, var(--animStartHeight)) rotate(var(--animStartRotation));}
    50% {transform: translate(0, var(--animMidHeight)) rotate(0deg);}
    100% {transform: translate(0, var(--animEndHeight)) rotate(var(--animEndRotation));}
}

@keyframes anim-arrow-reverse {
    0% {transform: translate(0, var(--animStartHeight)) rotate(var(--animStartRotation));}
    50% {transform: translate(0, var(--animMidHeight)) rotate(0deg);}
    100% {transform: translate(0, var(--animEndHeight)) rotate(var(--animEndRotation));}
}

.arrow-button {
    position: absolute;
    top: 20%;
    padding: 20px;
    margin: 0 auto;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;

    &#right-arrow {
        right: -15%;

        :first-child {
            transform: translate(0, -6px) rotate(45deg);
            border-top: 5px solid black;
            transition: 0.2s;
            border-radius: 1px;            
        }

        :last-child {
            transform: translate(0, 5px) rotate(-45deg);
            border-bottom: 5px solid black;
            transition: 0.2s;
            border-radius: 1px;
        }
    }

    &#left-arrow {
        left: -15%;
        
        :first-child {
            transform: translate(0, -6px) rotate(-45deg);
            border-top: 5px solid black;
            transition: 0.2s;
            border-radius: 1px;            
        }
        
        :last-child {
            transform: translate(0, 5px) rotate(45deg);
            border-bottom: 5px solid black;
            transition: 0.2s;
            border-radius: 1px;
        }

        &[data-state=disabled] {
        
            :first-child {

                --animStartHeight: -6px;
                --animMidHeight: -10px;
                --animEndHeight: 2px;
                --animStartRotation: -45deg;
                --animEndRotation: 0deg;

                animation: anim-arrow 0.7s ease-in-out forwards;

            }

            :last-child {

                --animStartHeight: 5px;
                --animMidHeight: 10px;
                --animEndHeight: -2px;
                --animStartRotation: 45deg;
                --animEndRotation: 0deg;

                animation: anim-arrow 0.7s ease-in-out forwards;

            }
        }

        &[data-state=''] {

            :first-child {

                --animStartHeight: 2px;
                --animMidHeight: -10px;
                --animEndHeight: -6px;
                --animStartRotation: 0deg;
                --animEndRotation: -45deg;

                animation: anim-arrow-reverse 0.7s ease-in-out forwards;

            }

            :last-child {

                --animStartHeight: -2px;
                --animMidHeight: 10px;
                --animEndHeight: 5px;
                --animStartRotation: 0deg;
                --animEndRotation: 45deg;

                animation: anim-arrow-reverse 0.7s ease-in-out forwards;

            }
        }
    }

    &#right-arrow {
        &[data-state=disabled] {
            :first-child {

                --animStartHeight: -6px;
                --animMidHeight: -10px;
                --animEndHeight: 2px;
                --animStartRotation: 45deg;
                --animEndRotation: 0deg;

                animation: anim-arrow 0.7s ease-in-out forwards;
            }

            :last-child {

                --animStartHeight: 5px;
                --animMidHeight: 10px;
                --animEndHeight: -2px;
                --animStartRotation: -45deg;
                --animEndRotation: 0deg;

                animation: anim-arrow 0.7s ease-in-out forwards;
            }
        }

        &[data-state=''] {
            
            :first-child {

                --animStartHeight: 2px;
                --animMidHeight: -10px;
                --animEndHeight: -6px;
                --animStartRotation: 0deg;
                --animEndRotation: 45deg;

                animation: anim-arrow-reverse 0.7s ease-in-out forwards;
            
            }

            :last-child {

                --animStartHeight: -2px;
                --animMidHeight: 10px;
                --animEndHeight: 5px;
                --animStartRotation: 0deg;
                --animEndRotation: -45deg;

                animation: anim-arrow-reverse 0.7s ease-in-out forwards;

            }
        }
    }

}

.arrow-button:hover {

    &[data-state=''] {
        cursor: pointer;

        &#left-arrow {

            :first-child { 
                border-radius: 0px 10px 0px 0px;
            }

            :last-child {
                border-radius: 0px 0px 10px 0px;
            }
        }

        &#right-arrow {
            :first-child { 
                border-radius: 10px 0px 0px 0px;
            }
            
            :last-child {
                border-radius: 0px 0px 0px 10px;
            }
        }
    }
}

.right {
    position: absolute;
    width: 25px;
    height: 5px;
}

.left {
    position: absolute;
    width: 25px;
    height: 5px;
    
    /* Looks cool, Like a ribbon */
    /* background-color: rebeccapurple; */

    /* border-top: 5px solid black; */
    /* border-radius: 3px; */
}

body {
    display: flex;
    justify-content: center;
    
}

.content-wrapper {
    position: absolute;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    /* width: 25%; */
    
}

.carousel {
    /* border: 3px solid black; */
    overflow: hidden;
    padding: 20px;
    box-shadow: 0 10px 60px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.content {
    position: relative;
    overflow: hidden;
    /* margin-top: 15%; */
    /* width: 25%; */
    width: 100%;
    /* margin: auto; */
    float: left;
}

.section {
    /* outline: 3px solid beige; */

    background-color: aliceblue;
    border-radius: 5px;
    text-align: center;
    float: left;
    position: relative;
    width: 100%;
    margin: auto;

}

.title-bar {
    position: relative;
    /* margin: 20px 50%; */
    /* width: 100%; */
    /* margin: auto; */
}

#section-2 {
    left: -200%;
    margin-left: 0;
    /* margin-left: -100%; */
    /* margin-right: 0; */
    margin-right: -100%;
}

#section-1 {
    left: -100%;
    margin-left: 0;
    /* margin-left: -100%; */
    /* margin-right: 0; */
    margin-right: -100%;
}

#section0 {
    --leftValue: 0;
    left: 0;
    margin-left: 0;
    margin-right: 0;
}

#section1 {
    left: 100%;
    margin-left: -100%;
    /* margin-left: 0; */
    /* margin-right: -100%; */
    margin-right: 0;
}

#section2 {
    left: 200%;
    margin-left: -100%;
    /* margin-left: 0; */
    /* margin-right: -100%; */
    margin-right: 0;
}

.bars {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.bar-wrapper {
    margin: 10px 5px;
    width: 7%;
    padding: 10px;
    transition: 0.5s;
}

hr {
    color: black;
    border: 3px solid black;
    border-radius: 3px;

}

.bar-wrapper:hover {
    opacity: 50%;
    width: 10%;
    cursor: pointer;

    > hr {
        box-shadow: 0 10px 60px rgba(0, 0, 0, 0.5);
    }
}

.active {
    opacity: 50%;
    width: 10%;
    cursor: pointer;

    > hr {
        box-shadow: 0 10px 60px rgba(0, 0, 0, 0.5);
    }
}